#OSX Metafiles
.DS_Store

# Tool Directories
node_modules/

#Wiki
wiki/

# Resource files

# Audio Files
*.mp3
*.wav
*.ogg

#Log Files
*.log
*.csv
*.dat

# NetBeans specific
/nbproject/*

# Burn specific
/index.html
/app.js