/***
Base styles
***/

//Susy global settings
$susy: (
	columns: 12,
	gutters: 1/4,
	column-width: 4em,
	gutter-position: inside-static,
);

@include border-box-sizing;

body {
	background: #fff;
	font-size: 1em;
	font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

header, footer {
	@include full;
	background: $gray-light;
	text-align: center;
	padding: 1em 0;
}

footer {
	font-size: 0.8em;
}

.player-main {

	@include breakpoint($screen-xs-min) {
		width: span(10);
	}

	@include breakpoint($screen-sm-min) {
		width: span(8);
	}

	@include breakpoint($screen-md-min) {
		width: span(8);
	}

	@include breakpoint($screen-lg-min) {
		width: span(6);
	}
	margin: 0 auto;
	padding: 1em 0;
}

.container {
	//@include container(show);

	@include breakpoint($screen-md-min) {
		@include container(90%);
	}

	@include breakpoint($screen-lg-min) {
		@include container(80%);
	}
}

.player-row {
	margin: 25px 0px;
}

.param-box {
	@include clearfix;
	> .pull-left {
		margin-right: 10px;
	}
	> .pull-right {
		margin-right: 10px;
	}
	> .amount {
		@include clearfix;
		display: inline-block;
		margin: 0 0 0 10px;
		vertical-align: top;
		width: 60px;
	}
}

.param-slider {
	width: 400px;
}

.param-name {
	margin: 15px 0;
}

.soundmodels {
	margin: 100px 0 0 0;
	width: 350px;
}

.pull-left {
	float: left !important;
}
.pull-right {
	float: right !important;
}

h1, .h1 { font-size: $font-size-h1; } // ~62px
h2, .h2 { font-size: $font-size-h2; } // ~52px
h3, .h3 { font-size: $font-size-h3; } // ~40px
h4, .h4 { font-size: $font-size-h4; } // ~29px
h5, .h5 { font-size: $font-size-h5; } // ~28px
h6, .h6 { font-size: $font-size-h6; } // ~24px
