/***
 main
**/
/* line 5, ../../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/****
Variables
***/
@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/lato-bold.eot");
  src: url("../fonts/lato/lato-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/lato-bold.woff") format("woff"), url("../fonts/lato/lato-bold.ttf") format("truetype"), url("../fonts/lato/lato-bold.svglatobold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/lato-regular.eot");
  src: url("../fonts/lato/lato-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/lato-regular.woff") format("woff"), url("../fonts/lato/lato-regular.ttf") format("truetype"), url("../fonts/lato/lato-regular.svglatoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Flat-UI-Icons";
  src: url("flat-ui/flat-ui-icons-regular.eot");
  src: url("flat-ui/flat-ui-icons-regular.eot?#iefix") format("embedded-opentype"), url("flat-ui/flat-ui-icons-regular.woff") format("woff"), url("flat-ui/flat-ui-icons-regular.ttf") format("truetype"), url("flat-ui/flat-ui-icons-regular.svg#flat-ui-icons-regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/***
Base styles
***/
/* line 11, ../../../../../../../.rvm/gems/ruby-2.1.1/gems/susy-2.1.1/sass/susy/language/susy/_box-sizing.scss */
*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, ../sass/_base.scss */
body {
  background: #fff;
  font-size: 1em;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.72222;
}

/* line 23, ../sass/_base.scss */
header, footer {
  clear: both;
  width: 100%;
  float: left;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background: #ecf0f1;
  text-align: center;
  padding: 1em 0;
}

/* line 30, ../sass/_base.scss */
footer {
  font-size: 0.8em;
}

/* line 34, ../sass/_base.scss */
.player-main {
  margin: 0 auto;
  padding: 1em 0;
}
@media (min-width: 480px) {
  /* line 34, ../sass/_base.scss */
  .player-main {
    width: 83.33333%;
  }
}
@media (min-width: 768px) {
  /* line 34, ../sass/_base.scss */
  .player-main {
    width: 66.66667%;
  }
}
@media (min-width: 992px) {
  /* line 34, ../sass/_base.scss */
  .player-main {
    width: 66.66667%;
  }
}
@media (min-width: 1200px) {
  /* line 34, ../sass/_base.scss */
  .player-main {
    width: 50%;
  }
}

@media (min-width: 992px) {
  /* line 55, ../sass/_base.scss */
  .container {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../.rvm/gems/ruby-2.1.1/gems/susy-2.1.1/sass/susy/output/support/_clearfix.scss */
  .container::after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 1200px) {
  /* line 55, ../sass/_base.scss */
  .container {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../.rvm/gems/ruby-2.1.1/gems/susy-2.1.1/sass/susy/output/support/_clearfix.scss */
  .container::after {
    content: " ";
    display: block;
    clear: both;
  }
}

/* line 67, ../sass/_base.scss */
.player-row {
  margin: 25px 0px;
}

/* line 19, ../sass/_mixins.scss */
.param-box:before, .param-box:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
/* line 24, ../sass/_mixins.scss */
.param-box:after {
  clear: both;
}
/* line 73, ../sass/_base.scss */
.param-box > .pull-left {
  margin-right: 10px;
}
/* line 76, ../sass/_base.scss */
.param-box > .pull-right {
  margin-right: 10px;
}
/* line 79, ../sass/_base.scss */
.param-box > .amount {
  display: inline-block;
  margin: 0 0 0 10px;
  vertical-align: top;
  width: 60px;
}
/* line 19, ../sass/_mixins.scss */
.param-box > .amount:before, .param-box > .amount:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
/* line 24, ../sass/_mixins.scss */
.param-box > .amount:after {
  clear: both;
}

/* line 88, ../sass/_base.scss */
.param-slider {
  width: 400px;
}

/* line 92, ../sass/_base.scss */
.param-name {
  margin: 15px 0;
}

/* line 96, ../sass/_base.scss */
.soundmodels {
  margin: 100px 0 0 0;
  width: 350px;
}

/* line 101, ../sass/_base.scss */
.pull-left {
  float: left !important;
}

/* line 104, ../sass/_base.scss */
.pull-right {
  float: right !important;
}

/* line 108, ../sass/_base.scss */
h1, .h1 {
  font-size: 55px;
}

/* line 109, ../sass/_base.scss */
h2, .h2 {
  font-size: 47px;
}

/* line 110, ../sass/_base.scss */
h3, .h3 {
  font-size: 36px;
}

/* line 111, ../sass/_base.scss */
h4, .h4 {
  font-size: 26px;
}

/* line 112, ../sass/_base.scss */
h5, .h5 {
  font-size: 24px;
}

/* line 113, ../sass/_base.scss */
h6, .h6 {
  font-size: 22px;
}

/* line 7, ../sass/modules/_buttons.scss */
.btn {
  display: inline-block;
  margin-bottom: 0;
  border: none;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4;
  border-radius: 4px;
  padding: 10px 15px;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  -o-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
}
/* line 20, ../sass/modules/_buttons.scss */
.btn:hover, .btn:focus {
  outline: none;
  color: white;
}
/* line 26, ../sass/modules/_buttons.scss */
.btn:active, .btn.active {
  outline: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 32, ../sass/modules/_buttons.scss */
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  background-color: #ecf0f1;
  color: fade(white, 75%);
  opacity: 0.7;
  filter: alpha(opacity=70);
}
/* line 42, ../sass/modules/_buttons.scss */
.btn > [class^="fui-"] {
  margin: 0 1px;
  position: relative;
  line-height: 1;
  top: 1px;
}
/* line 52, ../sass/modules/_buttons.scss */
.btn .btn-hg > [class^="fui-"], .btn .btn-group-gh > .btn > [class^="fui-"] {
  top: 2px;
}
/* line 56, ../sass/modules/_buttons.scss */
.btn .btn-xs > [class^="fui-"], .btn .btn-group-xs > .btn > [class^="fui-"] {
  font-size: 11px;
  top: 0;
}

/* line 64, ../sass/modules/_buttons.scss */
.btn-default {
  color: white;
  background-color: #ecf0f1;
}
/* line 76, ../sass/_mixins.scss */
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
  color: white;
  background-color: #eff3f3;
  border-color: #eff3f3;
}
/* line 84, ../sass/_mixins.scss */
.open .btn-default.dropdown-toggle {
  color: white;
  background-color: #eff3f3;
  border-color: #eff3f3;
}
/* line 89, ../sass/_mixins.scss */
.btn-default:active, .btn-default.active {
  background: #c8cccc;
  border-color: #c8cccc;
}
/* line 94, ../sass/_mixins.scss */
.open .btn-default.dropdown-toggle {
  background: #c8cccc;
  border-color: #c8cccc;
}
/* line 101, ../sass/_mixins.scss */
.btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled:active, .btn-default.disabled.active, .btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled]:active, .btn-default[disabled].active, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default.active {
  background-color: #ecf0f1;
  border-color: #ecf0f1;
}

/* line 67, ../sass/modules/_buttons.scss */
.btn-primary {
  color: white;
  background-color: #1abc9c;
}
/* line 76, ../sass/_mixins.scss */
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  color: white;
  background-color: #47c9af;
  border-color: #47c9af;
}
/* line 84, ../sass/_mixins.scss */
.open .btn-primary.dropdown-toggle {
  color: white;
  background-color: #47c9af;
  border-color: #47c9af;
}
/* line 89, ../sass/_mixins.scss */
.btn-primary:active, .btn-primary.active {
  background: #169f84;
  border-color: #169f84;
}
/* line 94, ../sass/_mixins.scss */
.open .btn-primary.dropdown-toggle {
  background: #169f84;
  border-color: #169f84;
}
/* line 101, ../sass/_mixins.scss */
.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
  background-color: #1abc9c;
  border-color: #1abc9c;
}

/* line 70, ../sass/modules/_buttons.scss */
.btn-info {
  color: white;
  background-color: #3498db;
}
/* line 76, ../sass/_mixins.scss */
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active {
  color: white;
  background-color: #5cace2;
  border-color: #5cace2;
}
/* line 84, ../sass/_mixins.scss */
.open .btn-info.dropdown-toggle {
  color: white;
  background-color: #5cace2;
  border-color: #5cace2;
}
/* line 89, ../sass/_mixins.scss */
.btn-info:active, .btn-info.active {
  background: #2c81ba;
  border-color: #2c81ba;
}
/* line 94, ../sass/_mixins.scss */
.open .btn-info.dropdown-toggle {
  background: #2c81ba;
  border-color: #2c81ba;
}
/* line 101, ../sass/_mixins.scss */
.btn-info.disabled, .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled:active, .btn-info.disabled.active, .btn-info[disabled], .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled]:active, .btn-info[disabled].active, fieldset[disabled] .btn-info, fieldset[disabled] .btn-info:hover, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info.active {
  background-color: #3498db;
  border-color: #3498db;
}

/* line 73, ../sass/modules/_buttons.scss */
.btn-danger {
  color: white;
  background-color: #e74c3c;
}
/* line 76, ../sass/_mixins.scss */
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active {
  color: white;
  background-color: #eb6f62;
  border-color: #eb6f62;
}
/* line 84, ../sass/_mixins.scss */
.open .btn-danger.dropdown-toggle {
  color: white;
  background-color: #eb6f62;
  border-color: #eb6f62;
}
/* line 89, ../sass/_mixins.scss */
.btn-danger:active, .btn-danger.active {
  background: #c44033;
  border-color: #c44033;
}
/* line 94, ../sass/_mixins.scss */
.open .btn-danger.dropdown-toggle {
  background: #c44033;
  border-color: #c44033;
}
/* line 101, ../sass/_mixins.scss */
.btn-danger.disabled, .btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled:active, .btn-danger.disabled.active, .btn-danger[disabled], .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled]:active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger:hover, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger.active {
  background-color: #e74c3c;
  border-color: #e74c3c;
}

/* line 76, ../sass/modules/_buttons.scss */
.btn-success {
  color: white;
  background-color: #2ecc71;
}
/* line 76, ../sass/_mixins.scss */
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active {
  color: white;
  background-color: #57d68d;
  border-color: #57d68d;
}
/* line 84, ../sass/_mixins.scss */
.open .btn-success.dropdown-toggle {
  color: white;
  background-color: #57d68d;
  border-color: #57d68d;
}
/* line 89, ../sass/_mixins.scss */
.btn-success:active, .btn-success.active {
  background: #27ad60;
  border-color: #27ad60;
}
/* line 94, ../sass/_mixins.scss */
.open .btn-success.dropdown-toggle {
  background: #27ad60;
  border-color: #27ad60;
}
/* line 101, ../sass/_mixins.scss */
.btn-success.disabled, .btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled:active, .btn-success.disabled.active, .btn-success[disabled], .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled]:active, .btn-success[disabled].active, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success:hover, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success.active {
  background-color: #2ecc71;
  border-color: #2ecc71;
}

/* line 79, ../sass/modules/_buttons.scss */
.btn-warning {
  color: white;
  background-color: #f1c40f;
}
/* line 76, ../sass/_mixins.scss */
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active {
  color: white;
  background-color: overlay(#f1c40f, #9f9f9f);
  border-color: overlay(#f1c40f, #9f9f9f);
}
/* line 84, ../sass/_mixins.scss */
.open .btn-warning.dropdown-toggle {
  color: white;
  background-color: overlay(#f1c40f, #9f9f9f);
  border-color: overlay(#f1c40f, #9f9f9f);
}
/* line 89, ../sass/_mixins.scss */
.btn-warning:active, .btn-warning.active {
  background: #cca60c;
  border-color: #cca60c;
}
/* line 94, ../sass/_mixins.scss */
.open .btn-warning.dropdown-toggle {
  background: #cca60c;
  border-color: #cca60c;
}
/* line 101, ../sass/_mixins.scss */
.btn-warning.disabled, .btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled:active, .btn-warning.disabled.active, .btn-warning[disabled], .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled]:active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning:hover, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning.active {
  background-color: #f1c40f;
  border-color: #f1c40f;
}

/* line 82, ../sass/modules/_buttons.scss */
.btn-inverse {
  color: white;
  background-color: #34495e;
}
/* line 76, ../sass/_mixins.scss */
.btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active, .btn-inverse.active {
  color: white;
  background-color: overlay(#34495e, #9f9f9f);
  border-color: overlay(#34495e, #9f9f9f);
}
/* line 84, ../sass/_mixins.scss */
.open .btn-inverse.dropdown-toggle {
  color: white;
  background-color: overlay(#34495e, #9f9f9f);
  border-color: overlay(#34495e, #9f9f9f);
}
/* line 89, ../sass/_mixins.scss */
.btn-inverse:active, .btn-inverse.active {
  background: #2c3e4f;
  border-color: #2c3e4f;
}
/* line 94, ../sass/_mixins.scss */
.open .btn-inverse.dropdown-toggle {
  background: #2c3e4f;
  border-color: #2c3e4f;
}
/* line 101, ../sass/_mixins.scss */
.btn-inverse.disabled, .btn-inverse.disabled:hover, .btn-inverse.disabled:focus, .btn-inverse.disabled:active, .btn-inverse.disabled.active, .btn-inverse[disabled], .btn-inverse[disabled]:hover, .btn-inverse[disabled]:focus, .btn-inverse[disabled]:active, .btn-inverse[disabled].active, fieldset[disabled] .btn-inverse, fieldset[disabled] .btn-inverse:hover, fieldset[disabled] .btn-inverse:focus, fieldset[disabled] .btn-inverse:active, fieldset[disabled] .btn-inverse.active {
  background-color: #34495e;
  border-color: #34495e;
}

/* line 85, ../sass/modules/_buttons.scss */
.btn-embossed {
  -moz-box-shadow: inset 0 -2px 0 fade(black, 15%);
  -webkit-box-shadow: inset 0 -2px 0 fade(black, 15%);
  box-shadow: inset 0 -2px 0 fade(black, 15%);
}
/* line 88, ../sass/modules/_buttons.scss */
.btn-embossed.active, .btn-embossed:active {
  -moz-box-shadow: inset 0 2px 0 fade(black, 15%);
  -webkit-box-shadow: inset 0 2px 0 fade(black, 15%);
  box-shadow: inset 0 2px 0 fade(black, 15%);
}

/* line 93, ../sass/modules/_buttons.scss */
.btn-wide {
  min-width: 140px;
  padding-left: 30px;
  padding-right: 30px;
}

/* line 104, ../sass/modules/_buttons.scss */
.btn-link {
  color: #16a085;
}
/* line 107, ../sass/modules/_buttons.scss */
.btn-link:hover, .btn-link:focus {
  color: #1abc9c;
  text-decoration: underline;
  background-color: transparent;
}
/* line 115, ../sass/modules/_buttons.scss */
.btn-link[disabled]:hover, .btn-link[disabled]:focus, fieldset[disabled] .btn-link:hover, fieldset[disabled] .btn-link:focus {
  color: #ecf0f1;
  text-decoration: none;
}

/* line 127, ../sass/modules/_buttons.scss */
.btn-hg, .btn-group-gh > .btn {
  padding: 13px 20px;
  font-size: 20px;
  line-height: 1.227;
  border-radius: 6px;
}

/* line 130, ../sass/modules/_buttons.scss */
.btn-lg, .btn-group-lg > .btn {
  padding: 10px 19px;
  font-size: 16px;
  line-height: 1.471;
  border-radius: 6px;
}

/* line 133, ../sass/modules/_buttons.scss */
.btn-sm, .btn-group-sm > .btn {
  padding: 9px 13px;
  font-size: 12px;
  line-height: 1.385;
  border-radius: 4px;
}

/* line 136, ../sass/modules/_buttons.scss */
.btn-xs, .btn-group-xs > .btn {
  padding: 6px 9px;
  font-size: 12px;
  line-height: 1.083;
  border-radius: 3px;
}

/* line 142, ../sass/modules/_buttons.scss */
.btn-tip {
  font-weight: 300;
  padding-left: 10px;
  font-size: 92%;
}

/* line 151, ../sass/modules/_buttons.scss */
.btn-block {
  white-space: normal;
}

/* line 7, ../sass/modules/_button-groups.scss */
.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
/* line 12, ../sass/modules/_button-groups.scss */
.btn-group > .btn,
.btn-group-vertical > .btn {
  position: relative;
  float: left;
}
/* line 16, ../sass/modules/_button-groups.scss */
.btn-group > .btn:hover, .btn-group > .btn:focus, .btn-group > .btn:active, .btn-group > .btn.active,
.btn-group-vertical > .btn:hover,
.btn-group-vertical > .btn:focus,
.btn-group-vertical > .btn:active,
.btn-group-vertical > .btn.active {
  z-index: 2;
}
/* line 22, ../sass/modules/_button-groups.scss */
.btn-group > .btn:focus,
.btn-group-vertical > .btn:focus {
  outline: 0;
}

/* line 34, ../sass/modules/_button-groups.scss */
.btn-default .caret {
  border-top-color: white;
}
/* line 37, ../sass/modules/_button-groups.scss */
.btn-primary .caret, .btn-success .caret, .btn-warning .caret, .btn-danger .caret, .btn-info .caret {
  border-top-color: white;
}

/* line 46, ../sass/modules/_button-groups.scss */
.dropup .btn-default .caret {
  border-bottom-color: white;
}
/* line 54, ../sass/modules/_button-groups.scss */
.dropup .btn-primary .caret,
.dropup .btn-success .caret,
.dropup .btn-warning .caret,
.dropup .btn-danger .caret,
.dropup .btn-info .caret {
  border-bottom-color: white;
}

/* line 72, ../sass/modules/_button-groups.scss */
.btn-group > .btn + .btn {
  margin-left: 0;
}
/* line 75, ../sass/modules/_button-groups.scss */
.btn-group > .btn + .dropdown-toggle {
  border-left: 2px solid fade(#34495e, 15%);
  padding-left: 12px;
  padding-right: 12px;
}
/* line 80, ../sass/modules/_button-groups.scss */
.btn-group > .btn + .dropdown-toggle .caret {
  margin-left: 3px;
  margin-right: 3px;
}
/* line 86, ../sass/modules/_button-groups.scss */
.btn-group > .btn.btn-gh + .dropdown-toggle .caret {
  margin-left: 7px;
  margin-right: 7px;
}
/* line 92, ../sass/modules/_button-groups.scss */
.btn-group > .btn.btn-sm + .dropdown-toggle .caret, .btn-group-sm.btn-group > .btn + .dropdown-toggle .caret {
  margin-left: 0;
  margin-right: 0;
}

/* line 101, ../sass/modules/_button-groups.scss */
.dropdown-toggle .caret {
  margin-left: 8px;
}

/* line 106, ../sass/modules/_button-groups.scss */
.btn-group > .btn,
.btn-group > .dropdown-menu,
.btn-group > .popover {
  font-weight: 400;
}

/* line 112, ../sass/modules/_button-groups.scss */
.btn-group:focus .dropdown-toggle {
  outline: none;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

/* line 119, ../sass/modules/_button-groups.scss */
.btn-group.open .dropdown-toggle {
  color: fade(white, 75%);
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 127, ../sass/modules/_button-groups.scss */
.btn-toolbar .btn.active {
  color: white;
}
/* line 130, ../sass/modules/_button-groups.scss */
.btn-toolbar .btn > [class^="fui-"] {
  font-size: 16px;
  margin: 0 1px;
}

/* line 5, ../sass/modules/_carets.scss */
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-width: 8px 6px;
  border-bottom-color: #34495e;
  border-top-color: #34495e;
  border-style: solid;
  border-bottom-style: none;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-transform: scale(1.001);
  -ms-transform: scale(1.001);
  transform: scale(1.001);
}

/* line 28, ../sass/modules/_carets.scss */
.dropup .caret,
.dropup .btn-lg .caret,
.dropup .btn-group-lg > .btn .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-bottom-width: 8px;
}

/* line 34, ../sass/modules/_carets.scss */
.btn-lg .caret, .btn-group-lg > .btn .caret {
  border-top-width: 8px;
  border-right-width: 6px;
  border-left-width: 6px;
}

/* line 10, ../sass/modules/_forms.scss */
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 13.5px;
  font-size: 22.4px;
  line-height: inherit;
  color: inherit;
  border-bottom: none;
}

/* line 24, ../sass/modules/_forms.scss */
textarea {
  font-size: 18px;
  line-height: 24px;
  padding: 5px 11px;
}

/* line 31, ../sass/modules/_forms.scss */
input[type="search"] {
  -webkit-appearance: none !important;
}

/* line 37, ../sass/modules/_forms.scss */
label {
  font-weight: normal;
  font-size: 14px;
  line-height: 2.4;
}

/* line 123, ../sass/_mixins.scss */
.form-control:-moz-placeholder {
  color: #b2bcc5;
}
/* line 124, ../sass/_mixins.scss */
.form-control::-moz-placeholder {
  color: #b2bcc5;
  opacity: 1;
}
/* line 126, ../sass/_mixins.scss */
.form-control:-ms-input-placeholder {
  color: #b2bcc5;
}
/* line 127, ../sass/_mixins.scss */
.form-control::-webkit-input-placeholder {
  color: #b2bcc5;
}
/* line 128, ../sass/_mixins.scss */
.form-control.placeholder {
  color: #b2bcc5;
}

/* line 73, ../sass/modules/_forms.scss */
.form-control {
  display: block;
  width: 100%;
  border: 2px solid #ecf0f1;
  color: #34495e;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.467;
  padding: 8px 12px;
  height: 42px;
  -webkit-appearance: none;
  border-radius: 6px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  -o-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
}
/* line 192, ../sass/_mixins.scss */
.form-group.focus .form-control, .form-control:focus {
  border-color: #1abc9c;
  outline: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 95, ../sass/modules/_forms.scss */
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: #f8f9f9;
  border-color: #e4e7e8;
  color: #e4e7e8;
  cursor: default;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
/* line 106, ../sass/modules/_forms.scss */
.form-control.flat {
  border-color: transparent;
}
/* line 109, ../sass/modules/_forms.scss */
.form-control.flat:hover {
  border-color: #ecf0f1;
}
/* line 112, ../sass/modules/_forms.scss */
.form-control.flat:focus {
  border-color: #1abc9c;
}

/* line 208, ../sass/_mixins.scss */
.input-sm {
  height: 35px;
  padding: 6px 10px;
  font-size: 12px;
  line-height: 1.462;
  border-radius: 6px;
}

/* line 216, ../sass/_mixins.scss */
select.input-sm {
  height: 35px;
  line-height: 35px;
}

/* line 221, ../sass/_mixins.scss */
textarea.input-sm,
select[multiple].input-sm {
  height: auto;
}

/* line 208, ../sass/_mixins.scss */
.input-lg {
  height: 45px;
  padding: 10px 15px;
  font-size: 16px;
  line-height: 1.235;
  border-radius: 6px;
}

/* line 216, ../sass/_mixins.scss */
select.input-lg {
  height: 45px;
  line-height: 45px;
}

/* line 221, ../sass/_mixins.scss */
textarea.input-lg,
select[multiple].input-lg {
  height: auto;
}

/* line 208, ../sass/_mixins.scss */
.input-hg {
  height: 53px;
  padding: 10px 16px;
  font-size: 20px;
  line-height: 1.318;
  border-radius: 6px;
}

/* line 216, ../sass/_mixins.scss */
select.input-hg {
  height: 53px;
  line-height: 53px;
}

/* line 221, ../sass/_mixins.scss */
textarea.input-hg,
select[multiple].input-hg {
  height: auto;
}

/* line 150, ../sass/_mixins.scss */
.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline {
  color: #f1c40f;
}
/* line 159, ../sass/_mixins.scss */
.has-warning .form-control {
  color: #f1c40f;
  border-color: #f1c40f;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 123, ../sass/_mixins.scss */
.has-warning .form-control:-moz-placeholder {
  color: #f1c40f;
}
/* line 124, ../sass/_mixins.scss */
.has-warning .form-control::-moz-placeholder {
  color: #f1c40f;
  opacity: 1;
}
/* line 126, ../sass/_mixins.scss */
.has-warning .form-control:-ms-input-placeholder {
  color: #f1c40f;
}
/* line 127, ../sass/_mixins.scss */
.has-warning .form-control::-webkit-input-placeholder {
  color: #f1c40f;
}
/* line 128, ../sass/_mixins.scss */
.has-warning .form-control.placeholder {
  color: #f1c40f;
}
/* line 165, ../sass/_mixins.scss */
.has-warning .form-control:focus {
  border-color: #f1c40f;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 171, ../sass/_mixins.scss */
.has-warning .input-group-addon {
  color: #f1c40f;
  border-color: #f1c40f;
  background-color: white;
}

/* line 150, ../sass/_mixins.scss */
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
  color: #e74c3c;
}
/* line 159, ../sass/_mixins.scss */
.has-error .form-control {
  color: #e74c3c;
  border-color: #e74c3c;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 123, ../sass/_mixins.scss */
.has-error .form-control:-moz-placeholder {
  color: #e74c3c;
}
/* line 124, ../sass/_mixins.scss */
.has-error .form-control::-moz-placeholder {
  color: #e74c3c;
  opacity: 1;
}
/* line 126, ../sass/_mixins.scss */
.has-error .form-control:-ms-input-placeholder {
  color: #e74c3c;
}
/* line 127, ../sass/_mixins.scss */
.has-error .form-control::-webkit-input-placeholder {
  color: #e74c3c;
}
/* line 128, ../sass/_mixins.scss */
.has-error .form-control.placeholder {
  color: #e74c3c;
}
/* line 165, ../sass/_mixins.scss */
.has-error .form-control:focus {
  border-color: #e74c3c;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 171, ../sass/_mixins.scss */
.has-error .input-group-addon {
  color: #e74c3c;
  border-color: #e74c3c;
  background-color: white;
}

/* line 150, ../sass/_mixins.scss */
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline {
  color: #2ecc71;
}
/* line 159, ../sass/_mixins.scss */
.has-success .form-control {
  color: #2ecc71;
  border-color: #2ecc71;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 123, ../sass/_mixins.scss */
.has-success .form-control:-moz-placeholder {
  color: #2ecc71;
}
/* line 124, ../sass/_mixins.scss */
.has-success .form-control::-moz-placeholder {
  color: #2ecc71;
  opacity: 1;
}
/* line 126, ../sass/_mixins.scss */
.has-success .form-control:-ms-input-placeholder {
  color: #2ecc71;
}
/* line 127, ../sass/_mixins.scss */
.has-success .form-control::-webkit-input-placeholder {
  color: #2ecc71;
}
/* line 128, ../sass/_mixins.scss */
.has-success .form-control.placeholder {
  color: #2ecc71;
}
/* line 165, ../sass/_mixins.scss */
.has-success .form-control:focus {
  border-color: #2ecc71;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 171, ../sass/_mixins.scss */
.has-success .input-group-addon {
  color: #2ecc71;
  border-color: #2ecc71;
  background-color: white;
}

/* line 148, ../sass/modules/_forms.scss */
.help-block {
  font-size: 14px;
  margin-bottom: 5px;
  color: inherit;
}

/* line 159, ../sass/modules/_forms.scss */
.form-group {
  position: relative;
  margin-bottom: 20px;
}

/* line 172, ../sass/modules/_forms.scss */
.form-horizontal .control-label,
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 6px;
}
/* line 183, ../sass/modules/_forms.scss */
.form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px;
}
/* line 19, ../sass/_mixins.scss */
.form-horizontal .form-group:before, .form-horizontal .form-group:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
/* line 24, ../sass/_mixins.scss */
.form-horizontal .form-group:after {
  clear: both;
}
/* line 187, ../sass/modules/_forms.scss */
.form-horizontal .form-control-static {
  padding-top: 6px;
}

/* line 7, ../sass/modules/_select.scss */
.select {
  display: inline-block;
  margin-bottom: 10px;
}
/* line 13, ../sass/modules/_select.scss */
[class*="span"] > .select[class*="span"] {
  margin-left: 0;
}
/* line 16, ../sass/modules/_select.scss */
.select[class*="span"] .btn {
  width: 100%;
}
/* line 22, ../sass/modules/_select.scss */
.select.select-block {
  display: block;
  float: none;
  margin-left: 0;
  width: auto;
}
/* line 19, ../sass/_mixins.scss */
.select.select-block:before, .select.select-block:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
/* line 24, ../sass/_mixins.scss */
.select.select-block:after {
  clear: both;
}
/* line 29, ../sass/modules/_select.scss */
.select.select-block .btn {
  width: 100%;
}
/* line 32, ../sass/modules/_select.scss */
.select.select-block .dropdown-menu {
  width: 100%;
}
/* line 40, ../sass/modules/_select.scss */
.select .btn {
  width: 220px;
}
/* line 45, ../sass/modules/_select.scss */
.select .btn.btn-hg .filter-option, .select .btn-group-gh > .btn .filter-option {
  left: 20px;
  right: 40px;
  top: 13px;
}
/* line 50, ../sass/modules/_select.scss */
.select .btn.btn-hg .caret, .select .btn-group-gh > .btn .caret {
  right: 20px;
}
/* line 57, ../sass/modules/_select.scss */
.select .btn.btn-lg .filter-option, .select .btn-group-lg > .btn .filter-option {
  left: 18px;
  right: 38px;
}
/* line 65, ../sass/modules/_select.scss */
.select .btn.btn-sm .filter-option, .select .btn-group-sm > .btn .filter-option {
  left: 13px;
  right: 33px;
}
/* line 69, ../sass/modules/_select.scss */
.select .btn.btn-sm .caret, .select .btn-group-sm > .btn .caret {
  right: 13px;
}
/* line 76, ../sass/modules/_select.scss */
.select .btn.btn-xs .filter-option, .select .btn-group-xs > .btn .filter-option {
  left: 13px;
  right: 33px;
  top: 5px;
}
/* line 81, ../sass/modules/_select.scss */
.select .btn.btn-xs .caret, .select .btn-group-xs > .btn .caret {
  right: 13px;
}
/* line 86, ../sass/modules/_select.scss */
.select .btn .filter-option {
  height: 26px;
  left: 13px;
  overflow: hidden;
  position: absolute;
  right: 33px;
  text-align: left;
  top: 10px;
}
/* line 95, ../sass/modules/_select.scss */
.select .btn .caret {
  position: absolute;
  right: 16px;
  top: 50%;
  margin-top: -3px;
}
/* line 101, ../sass/modules/_select.scss */
.select .btn .dropdown-toggle {
  border-radius: 6px;
}
/* line 106, ../sass/modules/_select.scss */
.select .btn .dropdown-menu {
  min-width: 100%;
}
/* line 109, ../sass/modules/_select.scss */
.select .btn .dropdown-menu dt {
  cursor: default;
  display: block;
  padding: 3px 20px;
}
/* line 115, ../sass/modules/_select.scss */
.select .btn .dropdown-menu li:not(.disabled) > a:hover small {
  color: fade(white, 0.4);
}
/* line 118, ../sass/modules/_select.scss */
.select .btn .dropdown-menu li > a {
  min-height: 20px;
}
/* line 121, ../sass/modules/_select.scss */
.select .btn .dropdown-menu li > a.opt {
  padding-left: 35px;
}
/* line 125, ../sass/modules/_select.scss */
.select .btn .dropdown-menu li small {
  padding-left: .5em;
}
/* line 128, ../sass/modules/_select.scss */
.select .btn .dropdown-menu li > dt small {
  font-weight: normal;
}
/* line 135, ../sass/modules/_select.scss */
.select .btn > .disabled,
.select .btn .dropdown-menu li.disabled > a {
  cursor: default;
}
/* line 142, ../sass/modules/_select.scss */
.select .caret {
  border-bottom-color: white;
  border-top-color: white;
}

/* line 5, ../sass/modules/_dropdown.scss */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  background-color: #f2f4f5;
  border: none;
  display: block;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 16px;
  text-align: left;
  margin-top: 8px;
  opacity: 0;
  padding: 0;
  visibility: hidden;
  border-radius: 4px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  background-clip: padding-box;
}
/* line 30, ../sass/modules/_dropdown.scss */
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.72222;
  color: #bdc3c7;
  white-space: nowrap;
}
/* line 41, ../sass/modules/_dropdown.scss */
.open > .dropdown-menu {
  margin-top: 18px !important;
  opacity: 1;
  visibility: visible;
}
/* line 48, ../sass/modules/_dropdown.scss */
.dropdown-menu li:first-child dt + a {
  border-radius: 0;
}
/* line 51, ../sass/modules/_dropdown.scss */
.dropdown-menu li:first-child > a {
  border-radius: 6px 6px 0 0;
  padding-top: 8px;
}
/* line 58, ../sass/modules/_dropdown.scss */
.dropdown-menu li:last-child > a {
  border-radius: 0 0 6px 6px;
  padding-bottom: 10px;
}
/* line 66, ../sass/modules/_dropdown.scss */
.dropdown-menu li.active > a,
.dropdown-menu li.active > a.highlighted, .dropdown-menu li.selected > a,
.dropdown-menu li.selected > a.highlighted {
  background: #1abc9c;
  color: white;
}
/* line 71, ../sass/modules/_dropdown.scss */
.dropdown-menu li.active > a:hover, .dropdown-menu li.active > a:focus,
.dropdown-menu li.active > a.highlighted:hover,
.dropdown-menu li.active > a.highlighted:focus, .dropdown-menu li.selected > a:hover, .dropdown-menu li.selected > a:focus,
.dropdown-menu li.selected > a.highlighted:hover,
.dropdown-menu li.selected > a.highlighted:focus {
  background: #169f84;
  color: white;
}
/* line 78, ../sass/modules/_dropdown.scss */
.dropdown-menu li > a {
  color: fade(#34495e, 75%);
  padding: 6px 15px 8px;
  text-decoration: none;
  -moz-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}
/* line 19, ../sass/_mixins.scss */
.dropdown-menu li > a:before, .dropdown-menu li > a:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
/* line 24, ../sass/_mixins.scss */
.dropdown-menu li > a:after {
  clear: both;
}
/* line 85, ../sass/modules/_dropdown.scss */
.dropdown-menu li > a:hover, .dropdown-menu li > a:active, .dropdown-menu li > a:focus {
  background: #e0e3e6;
  color: inherit;
  outline: none;
}
/* line 93, ../sass/modules/_dropdown.scss */
.dropdown-menu li > a.highlighted {
  background: #c9ced4;
  color: white;
}
/* line 97, ../sass/modules/_dropdown.scss */
.dropdown-menu li > a.highlighted:hover, .dropdown-menu li > a.highlighted:focus {
  background: #b9c1c8;
  color: white;
}
/* line 104, ../sass/modules/_dropdown.scss */
.dropdown-menu li > a:before {
  float: right;
  margin-top: 3px;
}
/* line 111, ../sass/modules/_dropdown.scss */
.dropdown-menu li dt {
  font-weight: 300;
  margin-bottom: 3px;
  margin-top: 12px;
  padding: 0 15px;
}
@media (max-width: 991px) {
  /* line 5, ../sass/modules/_dropdown.scss */
  .dropdown-menu {
    border-radius: 0 0 6px 6px !important;
  }
}
/* line 121, ../sass/modules/_dropdown.scss */
.dropdown-menu .divider {
  margin-top: 3px;
  margin-bottom: 3px;
}

/* line 130, ../sass/modules/_dropdown.scss */
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  margin-bottom: 8px;
}
/* line 133, ../sass/modules/_dropdown.scss */
.dropup .dropdown-arrow,
.navbar-fixed-bottom .dropdown .dropdown-arrow {
  border-bottom: none;
  border-top: 8px outset #f2f4f5;
  bottom: 100%;
  top: auto;
}

/* line 142, ../sass/modules/_dropdown.scss */
.navbar-fixed-bottom .nav > li > ul:before {
  border-bottom: none;
  border-top: 9px outset #34495e;
  bottom: 4px;
  top: auto;
}

/* line 151, ../sass/modules/_dropdown.scss */
.open.dropup > .dropdown-menu {
  margin-bottom: 18px;
}
/* line 154, ../sass/modules/_dropdown.scss */
.open.dropup > .dropdown-arrow {
  margin-bottom: 10px;
}
/* line 157, ../sass/modules/_dropdown.scss */
.open.dropup > .dropdown-arrow.dropdown-arrow-inverse {
  border-top-color: #34495e;
}
/* line 162, ../sass/modules/_dropdown.scss */
.open > .dropdown-arrow {
  margin-top: 11px;
  opacity: 1;
}
/* line 167, ../sass/modules/_dropdown.scss */
.open > .dropdown-menu {
  display: block;
}
/* line 172, ../sass/modules/_dropdown.scss */
.open > a {
  outline: 0;
}

/* line 179, ../sass/modules/_dropdown.scss */
.dropdown-arrow {
  border-style: solid;
  border-width: 0 8px 7px;
  border-color: transparent transparent #f2f4f5 transparent;
  height: 0;
  margin-top: 0;
  opacity: 0;
  position: absolute;
  right: 19px;
  top: 100%;
  width: 0;
  z-index: 10;
  -webkit-transform: rotate(360deg);
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

/* line 197, ../sass/modules/_dropdown.scss */
.dropdown-inverse {
  background-color: #34495e;
  color: #cccccc;
  padding: 4px 0 6px;
}
/* line 202, ../sass/modules/_dropdown.scss */
.dropdown-inverse li {
  margin: 0 4px -2px;
}
/* line 206, ../sass/modules/_dropdown.scss */
.dropdown-inverse li:first-child > a, .dropdown-inverse li:last-child > a {
  border-radius: 2px;
  padding-bottom: 7px;
  padding-top: 5px;
}
/* line 211, ../sass/modules/_dropdown.scss */
.dropdown-inverse li:first-child dt + a, .dropdown-inverse li:last-child dt + a {
  border-radius: 2px;
}
/* line 218, ../sass/modules/_dropdown.scss */
.dropdown-inverse li.active > a, .dropdown-inverse li.selected > a {
  background: #1abc9c;
  color: white;
  position: relative;
  z-index: 1;
}
/* line 225, ../sass/modules/_dropdown.scss */
.dropdown-inverse li dt {
  padding-left: 11px;
  padding-right: 11px;
}
/* line 229, ../sass/modules/_dropdown.scss */
.dropdown-inverse li .divider {
  margin-left: 11px;
  margin-right: 11px;
}
/* line 233, ../sass/modules/_dropdown.scss */
.dropdown-inverse li > a {
  border-radius: 2px;
  color: white;
  padding: 5px 11px 7px;
}
/* line 238, ../sass/modules/_dropdown.scss */
.dropdown-inverse li > a:hover, .dropdown-inverse li > a:active, .dropdown-inverse li > a:focus {
  background: #2c3e4f;
}
/* line 243, ../sass/modules/_dropdown.scss */
.dropdown-inverse li > a.highlighted {
  background: #526476;
}
/* line 245, ../sass/modules/_dropdown.scss */
.dropdown-inverse li > a.highlighted:hover, .dropdown-inverse li > a.highlighted:focus {
  background: #667686;
}
/* line 251, ../sass/modules/_dropdown.scss */
.dropdown-inverse li .divider {
  background-color: #526476;
  border-bottom-color: #526476;
}

/* line 257, ../sass/modules/_dropdown.scss */
.dropdown-arrow-inverse {
  border-bottom-color: #34495e;
  border-top-color: #34495e;
}

/* line 5, ../sass/modules/_labels.scss */
.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: white;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
/* line 20, ../sass/modules/_labels.scss */
.label:empty {
  display: none;
}
/* line 25, ../sass/modules/_labels.scss */
.btn .label {
  position: relative;
  top: -1px;
}

/* line 33, ../sass/modules/_labels.scss */
a.label:hover, a.label:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

/* line 44, ../sass/modules/_labels.scss */
.label-default {
  background-color: #ecf0f1;
}
/* line 233, ../sass/_mixins.scss */
.label-default[href]:hover, .label-default[href]:focus {
  background-color: #cfd9db;
}

/* line 48, ../sass/modules/_labels.scss */
.label-primary {
  background-color: #34495e;
}
/* line 233, ../sass/_mixins.scss */
.label-primary[href]:hover, .label-primary[href]:focus {
  background-color: #222f3d;
}

/* line 52, ../sass/modules/_labels.scss */
.label-success {
  background-color: #2ecc71;
}
/* line 233, ../sass/_mixins.scss */
.label-success[href]:hover, .label-success[href]:focus {
  background-color: #25a25a;
}

/* line 56, ../sass/modules/_labels.scss */
.label-info {
  background-color: #3498db;
}
/* line 233, ../sass/_mixins.scss */
.label-info[href]:hover, .label-info[href]:focus {
  background-color: #217dbb;
}

/* line 60, ../sass/modules/_labels.scss */
.label-warning {
  background-color: #f1c40f;
}
/* line 233, ../sass/_mixins.scss */
.label-warning[href]:hover, .label-warning[href]:focus {
  background-color: #c29d0b;
}

/* line 64, ../sass/modules/_labels.scss */
.label-danger {
  background-color: #e74c3c;
}
/* line 233, ../sass/_mixins.scss */
.label-danger[href]:hover, .label-danger[href]:focus {
  background-color: #d62c1a;
}

/* line 8, ../sass/modules/_slider.scss */
.ui-slider-wrapper {
  position: relative;
}

/* line 12, ../sass/modules/_slider.scss */
.ui-slider-wrapper .ui-slider-horizontal {
  width: 100%;
}

/* line 17, ../sass/modules/_slider.scss */
.ui-slider-labels {
  position: absolute;
  border: 1px solid transparent;
}

/* line 18, ../sass/modules/_slider.scss */
.ui-slider-label-ticks {
  border: 1px solid transparent;
  position: absolute;
  white-space: nowrap;
}

/* line 19, ../sass/modules/_slider.scss */
.ui-slider-label-ticks span {
  font-size: 0.9em;
  min-width: 1.2em;
}

/* line 21, ../sass/modules/_slider.scss */
.ui-slider-wrapper.horizontal {
  height: 3em;
}

/* line 22, ../sass/modules/_slider.scss */
.horizontal .ui-slider-labels {
  left: 0;
  right: 0;
  top: 0.7em;
}

/* line 23, ../sass/modules/_slider.scss */
.horizontal .ui-slider-label-ticks {
  width: 1.2em;
  height: .5em;
  text-align: center;
  border-left: 1px solid #999;
}

/* line 24, ../sass/modules/_slider.scss */
.horizontal .ui-slider-label-ticks span {
  position: relative;
  display: inline-block;
  margin-left: -1.2em;
  top: .8em;
}

/* line 26, ../sass/modules/_slider.scss */
.ui-slider-wrapper.vertical {
  width: 4.5em;
}

/* line 27, ../sass/modules/_slider.scss */
.vertical .ui-slider-labels {
  top: 1px;
  bottom: 0;
  left: 0.7em;
}

/* line 28, ../sass/modules/_slider.scss */
.vertical .ui-slider-label-ticks {
  height: 1.2em;
  width: 0.8em;
  border-bottom: 1px solid #999;
}

/* line 29, ../sass/modules/_slider.scss */
.vertical .ui-slider-label-ticks span {
  position: relative;
  display: inline-block;
  margin-left: 1em;
  top: .6em;
}

/* line 31, ../sass/modules/_slider.scss */
.progress, .ui-slider {
  background: #eaecee;
  border-radius: 32px;
  height: 12px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 38, ../sass/modules/_slider.scss */
.ui-slider {
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}

/* line 45, ../sass/modules/_slider.scss */
.ui-slider-handle {
  background-color: #169f84;
  border-radius: 50%;
  cursor: pointer;
  height: 18px;
  position: absolute;
  width: 18px;
  z-index: 2;
  -moz-transition: background 0.25s;
  -o-transition: background 0.25s;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
}
/* line 55, ../sass/modules/_slider.scss */
.ui-slider-handle:hover, .ui-slider-handle:focus {
  background-color: #47c9af;
  outline: none;
}
/* line 60, ../sass/modules/_slider.scss */
.ui-slider-handle:active {
  background-color: #169f84;
}

/* line 65, ../sass/modules/_slider.scss */
.ui-slider-range {
  background-color: #1abc9c;
  display: block;
  height: 100%;
  position: absolute;
  z-index: 1;
}

/* line 75, ../sass/modules/_slider.scss */
.ui-slider-segment {
  background-color: #d8dadc;
  border-radius: 50%;
  height: 6px;
  width: 6px;
}

/* line 84, ../sass/modules/_slider.scss */
.ui-slider-value {
  float: right;
  font-size: 12px;
  margin-top: 12px;
}
/* line 89, ../sass/modules/_slider.scss */
.ui-slider-value.first {
  clear: left;
  float: left;
}

/* line 99, ../sass/modules/_slider.scss */
.ui-slider-horizontal .ui-slider-handle {
  margin-left: -9px;
  top: -3px;
}
/* line 103, ../sass/modules/_slider.scss */
.ui-slider-horizontal .ui-slider-handle[style*="100"] {
  margin-left: -15px;
}
/* line 107, ../sass/modules/_slider.scss */
.ui-slider-horizontal .ui-slider-range {
  border-radius: 30px 0 0 30px;
}
/* line 110, ../sass/modules/_slider.scss */
.ui-slider-horizontal .ui-slider-segment {
  float: left;
  margin: 3px -6px 0 0;
}

/* line 119, ../sass/modules/_slider.scss */
.ui-slider-vertical {
  width: 12px;
}
/* line 122, ../sass/modules/_slider.scss */
.ui-slider-vertical .ui-slider-handle {
  margin-left: -3px;
  margin-bottom: -11px;
  top: auto;
}
/* line 127, ../sass/modules/_slider.scss */
.ui-slider-vertical .ui-slider-range {
  width: 100%;
  bottom: 0;
  border-radius: 0 0 30px 30px;
}
/* line 132, ../sass/modules/_slider.scss */
.ui-slider-vertical .ui-slider-segment {
  position: absolute;
  right: 3px;
}

/* ============================================================
 * bootstrapSwitch v1.3 by Larentis Mattia @spiritualGuru
 * http://www.larentis.eu/switch/
 * ============================================================
 * Licensed under the Apache License, Version 2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 * ============================================================ */
/* line 9, ../sass/modules/_switch.scss */
.has-switch {
  border-radius: 30px;
  display: inline-block;
  cursor: pointer;
  line-height: 1.72222;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 80px;
  -webkit-mask: url("../images/mask.png") 0 0 no-repeat;
  mask: url("../images/mask.png") 0 0 no-repeat;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/* line 21, ../sass/modules/_switch.scss */
.has-switch.deactivate {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default !important;
}
/* line 25, ../sass/modules/_switch.scss */
.has-switch.deactivate label,
.has-switch.deactivate span {
  cursor: default !important;
}
/* line 31, ../sass/modules/_switch.scss */
.has-switch > div {
  width: 130px;
  position: relative;
  top: 0;
}
/* line 36, ../sass/modules/_switch.scss */
.has-switch > div.switch-animate {
  -moz-transition: left 0.25s ease-out;
  -o-transition: left 0.25s ease-out;
  -webkit-transition: left 0.25s ease-out;
  transition: left 0.25s ease-out;
}
/* line 40, ../sass/modules/_switch.scss */
.has-switch > div.switch-off {
  left: -50px;
}
/* line 43, ../sass/modules/_switch.scss */
.has-switch > div.switch-off label {
  background-color: #7f8c99;
  border-color: #bdc3c7;
  -moz-box-shadow: -1px 0 0 fade(white, 50%);
  -webkit-box-shadow: -1px 0 0 fade(white, 50%);
  box-shadow: -1px 0 0 fade(white, 50%);
}
/* line 50, ../sass/modules/_switch.scss */
.has-switch > div.switch-on {
  left: 0;
}
/* line 53, ../sass/modules/_switch.scss */
.has-switch > div.switch-on label {
  background-color: #1abc9c;
}
/* line 59, ../sass/modules/_switch.scss */
.has-switch input[type=checkbox] {
  display: none;
}
/* line 63, ../sass/modules/_switch.scss */
.has-switch span {
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  float: left;
  height: 29px;
  line-height: 19px;
  margin: 0;
  padding-bottom: 6px;
  padding-top: 5px;
  position: relative;
  text-align: center;
  width: 50%;
  z-index: 1;
  -moz-transition: ease-out 0.25s;
  -o-transition: ease-out 0.25s;
  -webkit-transition: ease-out 0.25s;
  transition: ease-out 0.25s;
}
/* line 79, ../sass/modules/_switch.scss */
.has-switch span.switch-left {
  border-radius: 30px 0 0 30px;
  background-color: #34495e;
  color: #1abc9c;
  border-left: 1px solid transparent;
}
/* line 86, ../sass/modules/_switch.scss */
.has-switch span.switch-right {
  border-radius: 0 30px 30px 0;
  background-color: #bdc3c7;
  color: white;
  text-indent: 7px;
}
/* line 92, ../sass/modules/_switch.scss */
.has-switch span.switch-right [class*="fui-"] {
  text-indent: 0;
}
/* line 98, ../sass/modules/_switch.scss */
.has-switch label {
  border: 4px solid #34495e;
  border-radius: 50%;
  float: left;
  height: 29px;
  margin: 0 -15px;
  padding: 0;
  position: relative;
  vertical-align: middle;
  width: 29px;
  z-index: 100;
  -moz-transition: ease-out 0.25s;
  -o-transition: ease-out 0.25s;
  -webkit-transition: ease-out 0.25s;
  transition: ease-out 0.25s;
}

/* line 115, ../sass/modules/_switch.scss */
.switch-square {
  border-radius: 6px;
  -webkit-mask: url("flat-ui/switch/mask.png") 0 0 no-repeat;
  mask: url("flat-ui/switch/mask.png") 0 0 no-repeat;
}
/* line 121, ../sass/modules/_switch.scss */
.switch-square > div.switch-off label {
  border-color: #7f8c99;
  border-radius: 6px 0 0 6px;
}
/* line 129, ../sass/modules/_switch.scss */
.switch-square span.switch-left {
  border-radius: 6px 0 0 6px;
}
/* line 132, ../sass/modules/_switch.scss */
.switch-square span.switch-left [class*="fui-"] {
  text-indent: -10px;
}
/* line 137, ../sass/modules/_switch.scss */
.switch-square span.switch-right {
  border-radius: 0 6px 6px 0;
}
/* line 140, ../sass/modules/_switch.scss */
.switch-square span.switch-right [class*="fui-"] {
  text-indent: 5px;
}
/* line 146, ../sass/modules/_switch.scss */
.switch-square label {
  border-radius: 0 6px 6px 0;
  border-color: #1abc9c;
}

/*# sourceMappingURL=main.css.map */
